{{ template "header" . }}
{{ template "nav" . }}
        <div class="container">
        <h1>Contents</h1>
            <form action="/contents" method="post">
                <div class="form-group">
                    <label for="search">Search:</label>
                    <input type="text" class="form-control" id="search" name="search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        <br />
        {{ if .error }}
            <p style="color:red">{{.error}}</p>
        {{ else }}
			{{ if .prevPage }}
                <a href="{{ .prevPage }}" class="btn btn-primary">Previous Page</a>
            {{ end }}
			{{ range .contents }}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Question from User:</h5>
                            <pre class="card-text" style="white-space: pre-wrap">{{.Prompt}}</pre>
                            {{ if .IsImage }}
                                <img src="data:image/png;base64,{{.Answer}}" alt="AI Generated Image" />
                            {{ else }}
                            <div>Answer from AI:<pre style="white-space: pre-wrap">{{.Answer}}</pre></div>
                            {{ end }}
                            <div>Delete this question: <a href="/contentdel?id={{.ID}}">delete</a></div>
                        </div>
                    </div>
				<br/>
			{{ end }}
			{{ if .nextPage }}
                <a href="{{ .nextPage }}" class="btn btn-primary">Next Page</a>
            {{ end }}
        {{ end }}
        </div>
{{ template "footer" . }}
