<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Contents</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Homepage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/contents">Contents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Contents</h1>
            <form action="/contents" method="post">
                <div class="form-group">
                    <label for="search">Search:</label>
                    <input type="text" class="form-control" id="search" name="search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br />
            {{ if .error }}
                <p style="color:red">{{.error}}</p>
            {{ else }}
                {{ if .prevPage }}
                    <a href="{{ .prevPage }}" class="btn btn-primary">Previous Page</a>
                {{ end }}
                {{ range .contents }}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Question from User <a href="/user?id={{.UserID}}" target="_blank">{{.UserID}}</a>:</h5>
                            <pre class="card-text">{{.Prompt}}</pre>
                            <div>Answer from AI:<pre>{{.Answer}}</pre></div>
                            <div>Delete this question: <a href="/contentdel?id={{.ID}}">delete</a></div>
                        </div>
                    </div>
                    <br/>
                {{ end }}
                {{ if .nextPage }}
                    <a href="{{ .nextPage }}" class="btn btn-primary">Next Page</a>
                {{ end }}
            {{ end }}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
