<!DOCTYPE html>
<html>
    <head>
        <title>Input prompt</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
		<h1>Chat with AI</h1>
        <p> Enter the command in the text box below, such as "Translate the following paragraph into Chinese: Enter the command in the text box below." or "Write an email in French to Mr. Anderson, explaining that due to delivery reasons, his mattress will only be delivered to his home at the end of next month. We apologize for the inconvenience." For guidance on how to create clear and effective prompt guidelines, please refer to the website <a href="https://openai.wiki/chatgpt-prompting-guide-book.html" target="_blank">https://openai.wiki/chatgpt-prompting-guide-book.html</a>.</p>
        <form method="post">
            <textarea name="input" id="input" cols="80" rows="10" placeholder="Enter your prompt here">{{.input}}</textarea>
            <input type="submit" id="submit" value="Submit" style="display:block;">
        </form>
        <br/><pre>
        {{.output}}
        </pre>
    </body>
</html>

