<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Users</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Homepage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/contents">Contents</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Users</h1>
            {{ if .users }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .users }}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>{{.Username}}</td>
                                <td><a href="/userdel?id={{.ID}}">delete</a></td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            {{ end }}
            {{ if .error }}
                <p style="color:red">{{.error}}</p>
            {{ else }}
                {{ if .message }}
                    <p style="color:green">{{.message}}</p>
                {{ end }}
                {{ if .user }}
                    <div>User ID  : {{.user.ID}}</div>
                    <div>Username : {{.user.Username}}</div>
                {{ else }}
                    <h2> Add a new user </h2>
                    <form action="/useradd" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {{ end }}
            {{ end }}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
