<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Users</title>
    </head>
    <style>
      * {
            text-align: center;
      }
      table {
          margin: 0 auto;
      }
      .nav {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 10px;
          background-color: #fff; /* changed to white */
          color: #333; /* changed text color to dark */
          font-size: 20px;
          font-weight: bold;
      }
    </style>
    <body>
        <div class="nav">
            <a href="/">Homepage</a>
            <a href="/contents">Contents</a>
            <a href="/users">Users</a>
            <a href="/logout">Logout</a>
        </div>
        <h1>Users</h1>
        {{ if .users }}
            <table>
                <tr><th>ID</th><th>Username</th><th>Operation</th></tr>
                {{ range .users }}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Username}}</td>
                        <td><a href="/userdel?id={{.ID}}">delete</a></td>
                    </tr>
                {{ end }}
            </table>
        {{ end }}
        {{ if .error }}
            <p style="color:red">{{.error}}</p>
        {{ else }}
            {{ if .message }}
                <p style="color:green">{{.message}}</p>
            {{ end }}
            {{ if .user }}
                <div>User ID  : {{.user.ID}}</div>
                <div>Username : {{.user.Username}}</div>
            {{ else }}
                <h2> Add a new user </h2>
                <form action="/useradd" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username"><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"><br>
                    <input type="submit" value="Submit">
                </form>
            {{ end }}
        {{ end }}
    </body>
</html>

